rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow read access to everyone (anonymous and authenticated users)
    // Allow write/delete to authenticated users only
    match /{allPaths=**} {
      allow read: if true;
      allow write, delete: if request.auth != null;
    }
  }
}